*{
    margin: 1;
    padding:1;
}
nav{
    background-color: rgb(173, 100, 5);
    color:aliceblue;
    height: 30px;
    font-size:25px;
    align-items: center;
    display:flex;
    padding:0 12px;
    font-family:font-family: 'Roboto', sans-serif;
}


nav ul{
    list-style-type: none;
}
.gameContainer{
   display:flex;
  justify-content:center;
   margin-top: 50px;
   flex-wrap: wrap;

}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-weight: 'Roboto', sans-serif;
    position: relative;
    
}
.box{
    border:2px solid black;
    font-size: 10vw;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.info{
    font-size: 15px;
}
.gameInfo{
    padding: 0 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}
.imagebox{
    width:0;
    transition: witdh 2s ease-in-out;

}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.box:hover{
    background-color: rgb(250, 232, 34);
   
}
#reset{
    margin: 0 23px;
    padding: 3px 5px 2px 5px;
    background-color: rgb(204, 174, 232);
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.line{
    background-color: rgb(207, 242, 8);
    width:30vw;
    height:3px;
    position: absolute;

}
@media screen and (max-width: 800px) {
    .gameContainer{
         flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    } 
  }